.patient {
  width: 300px;
  transition: height 0.3s ease;

  .avatarBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
  }

  .infoPatient {
    display: flex;
    flex-direction: column;

    .infoPatientItem {
      display: flex;
      gap: 7px;
    }
  }

  .btnAppointment {
    .countAppointment {
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }

  &.open {
    min-height: 299px;
    height: auto;
  }

  &.close {
    min-height: 299px;
    height: 299px;
  }
}
.accordionBlock {
  height: 298px;
  overflow: auto;
}